// Main colors

$brandingsuccess: #33be7b;
$brandingerror: #ea4b48;

//gray
$gray1: #e6e6e6;

// green gray
$ggray9: #001426;
$ggray8: #172a3b;
$ggray7: #2b3d57;
$ggray6: #405c6b;
$ggray5: #617880;
$ggray4: #7a9099;
$ggray3: #96a7b2;
$ggray2: #b4c6cc;
$ggray1: #dae1e5;
$ggray0: #edf1f2;
