@use "../global" as *;
@use "../partials" as *;

// hero
.categories-sidebar {
  border-radius: 10px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid var(--Gray-Scale-Gray-100, #e6e6e6);
  background: var(--colors-nutral-white-white-main, #fff);
}

.categories-sidebar ul {
  padding: 0;
}

.categories-sidebar ul li {
  font-size: 16px;
}

.categories-sidebar ul li a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 16px 20px;
  border-radius: 5px;

  /* Body Small/Body Small, 500 */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
  @include flex;
  align-items: center;
  gap: size(12);
  @include transitionsall;
}

.categories-sidebar ul li a:hover {
  background-color: $brandingsuccess; /* Highlight for active category */
  color: #fff;
  svg {
    path {
      fill: #fff;
    }
  }
}

/* Banner Styles */
.banner {
  position: relative;
  &.banner-large {
    width: 100%;
    height: size(270);

    padding-bottom: size(24);
    padding-left: size(24);

    img {
      @include wh100;
      object-fit: cover;
    }
  }
  &.banner-small {
    width: 100%;
    padding-left: size(24);

    height: size(230);
    img {
      @include wh100;
      object-fit: cover;
    }
  }
  &.banner-vertical {
    width: 100%;
    padding-left: size(24);

    height: size(500);
    img {
      @include wh100;
      object-fit: cover;
    }
  }
}

.banner img {
  border-radius: 8px;
  transition: transform 0.3s;
}

/* Responsive Adjustments */
@media (max-width: 767.98px) {
  .banner img {
    width: 100%;
  }
}

.products {
}
.productssections {
  // @include flex-column;
  // gap: size(40);
}
.productsection1 {
  width: 100%;
  max-width: 100%; /* Restrict to parent width */
  position: relative;
  overflow-x: hidden;
}
.productsection {
  margin-bottom: size(30);
  border-radius: 10px;
  @include flex-column;
  gap: size(20);
  padding: size(25) size(22);
  border: 1px solid var(--Gray-Scale-Gray-100, #e6e6e6);
  background: var(--colors-nutral-white-white-main, #fff);
  .section-top {
    @include flex-between;
    .left {
      .eventbadges {
        @include flex;
        gap: size(9);
        .hot {
          padding: size(10) size(10);
          gap: size(8);
          flex-shrink: 0;
          border-radius: 6px;
          @include flex-center;
          align-items: center;
          span {
            color: var(--colors-nutral-white-white-main, #fff);
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
          background: var(--Branding-Success, #33be7b);
        }
        .discount {
          padding: size(10) size(10);
          gap: size(8);
          flex-shrink: 0;
          border-radius: 6px;
          @include flex-center;
          align-items: center;
          span {
            color: var(--colors-nutral-white-white-main, #fff);
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
          background: $brandingerror;
        }
      }
      h4 {
        color: var(--Gren-Gray-Scale-700, #2b3d57);
        /* Body XL/Body XL, 500 */
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 30px */
      }
    }
  }

  .productsgrid {
    display: grid;
    gap: size(16); /* Adjust the gap between items as needed */
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Default for smaller screens (2 columns) */
  }

  @media (min-width: 768px) {
    .productsgrid {
      grid-template-columns: repeat(3, 1fr); /* 3 columns on medium screens */
    }
  }

  @media (min-width: 992px) {
    .productsgrid {
      grid-template-columns: repeat(4, 1fr); /* 4 columns on large screens */
    }
  }

  @media (min-width: 1200px) {
    .productsgrid {
      grid-template-columns: repeat(
        4,
        1fr
      ); /* 5 columns on extra-large screens (desktop) */
    }
  }
  @media (min-width: 1600px) {
    .productsgrid {
      grid-template-columns: repeat(
        5,
        1fr
      ); /* 5 columns on extra-large screens (desktop) */
    }
  }
}

.prevnext {
  @include flex;
  gap: size(10);
  button {
    background-color: $brandingsuccess;
    @include square(36);
    @include circle;
    @include flex-center;
    &:disabled {
      background-color: lighten(
        $brandingsuccess,
        20%
      ); // Lighten background when disabled
      opacity: 0.5; // Reduce opacity for a disabled look
      cursor: not-allowed; // Change cursor to not-allowed to indicate disabled state
    }
  }
}

.auth {
  .modal-title {
    color: var(--Gray-Scale-Gray-900, #1a1a1a);

    /* Heading 05/Heading 05 — 600 */
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 38.4px */
    text-align: center;
    margin-top: 24px;
  }
  form {
    @include flex-column;
    gap: size(12);
    padding-inline: 12px;
  }

  .inputwrapper {
    &.passwordfield {
      position: relative;
      .eye {
        position: absolute;
        right: size(16);
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }
    &.remember {
      @include flex-between;
      align-items: center;
      .rememberbox {
        @include flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: size(6);
        label {
          white-space: nowrap;
          cursor: pointer;
          color: var(--Gray-Scale-Gray-600, #666);

          /* Body Small/Body Small, 400 */
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 21px */
        }
      }
      .forgot {
        color: var(--Gray-Scale-Gray-600, #666);

        /* Body Small/Body Small, 400 */
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 21px */
      }
    }
    input {
      @include w100;
      padding: 14px 16px;
      color: var(--Gray-Scale-Gray-400, #999);
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 20.8px */
      border-radius: 6px;
      @include transitionsall;
      border: 1px solid var(--Gray-Scale-Gray-100, #e6e6e6);
      background: var(--colors-nutral-white-white-main, #fff);
      &:focus {
        border-color: #33be7b;
      }
    }
  }
  .btnlogin {
    button {
      display: flex;
      padding: 14px 32px;
      justify-content: center;
      align-items: center;
      gap: 12px;
      background-color: $brandingsuccess;
      color: white;
      @include w100;
      border-radius: 43px;
      color: var(
        --Gray-Scale-White,
        var(--colors-nutral-white-white-main, #fff)
      );

      /* Body Small/Body Small, 600 */
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 120%; /* 16.8px */
      @include hover {
        background-color: lighten($brandingsuccess, 10%);
      }
    }
  }
  .dont {
    text-align: center;
    color: var(--Gray-Scale-Gray-600, #666);

    /* Body Small/Body Small, 400 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    a {
      color: var(--Gray-Scale-Gray-900, #1a1a1a);

      /* Body Small/Body Small, 500 */
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 21px */
    }
  }
  .social {
    padding-inline: 12px;
    padding-bottom: 24px;
    @include flex;
    gap: size(20);
    margin-top: size(40);
    @include w100;

    .btnfacebook {
      @include flex;
      padding: size(8);
      flex-grow: 1;
      gap: size(8);
      border-radius: 4px;
      color: white;
      background: var(--Facebook, #1877f2);
    }
    .btngoogle {
      flex-grow: 1;
      @include flex;
      align-items: center;
      padding-right: size(8);
      .icon {
        padding: size(8);
        border-radius: 2px;
        border: 1px solid #4285f4;
        background: var(--colors-nutral-white-white-main, #fff);
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.08),
          0px 1px 2px 0px rgba(0, 0, 0, 0.25);
      }
      @include flex;

      gap: size(8);
      border-radius: 4px;
      color: white;
      background: var(--Facebook, #1877f2);
    }
  }
}
